.navigation {
  font-size: 20px;
}

.o {
  text-decoration: none;
  color: black;
}
.m {
  text-decoration: none;
  color: green;
}
.p {
  text-decoration: none;
  color: yellowgreen;
}
.v {
  text-decoration: none;
  color: blue;
}
